/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  html, body, div, p, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, main, nav {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 12px;
   vertical-align: baseline;
 } 

  .login-page {
     background: #F3F3F3;
 }

 @media screen and (max-width:754px) {
     .login-banner { display: none;} 
 }

 .login-banner {
     height: 102px;
     background: #DDDDDD

 }


.login-form {
    box-sizing: border-box; 
    width: 500px;

    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #F3F3F3;

}


.login-form h1 {
    top: 50%;
    background: #F3F3F3;
    text-align: center;
    line-height: 105px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px dotted #CCCCCC;
}

.login-input-wrap-1 {
    box-sizing: border-box;
    display: flex; 
    height: 65px;
    line-height: 65px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
}

.login-input-wrap {
    box-sizing: border-box;
     display: flex; 

}

.login-field {
    font-size: 16px;
    align-items: center;
    width: 250px;
    height: 30px;
    border: 1px solid #CCCCCC;
    display: flex;
}


.login-form label {
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.login-button {
    width: 250px; 
    height: 35px;
    background: #00A1C6;
    border: none;
    color: white;
}

.login-form p {

}

.overlay-styles {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, .7);
}

.signup-modal {
    position: fixed; 
    top: 50%;
    left: 50%; 
    background-color: #FFF;
    padding: 75px; 
    z-index: 1000; 
    transform: translate(-50%, -50%); 
}

.signup-page {
    display: none; 
}

.guest-container {
    display: flex; 
    background-color:#FFFFFF;
    justify-content: space-between;
    padding: 0 15px;
    font-family: "Helvetica Neue", sans-serif;
    border-bottom: 1px solid #EEEEEE;
}

.navbar-logo-container {
    display: flex; 
    justify-content: flex-start;
    padding: 8px;
}

.navBarLogo {
    font-size: 50px;
    line-height: 30px;
    color: #1DA0C3;
}

.site-name-logo{
    font-size: 15px;
    line-height: 40px;
}

.nav-list {
    display: flex; 
    list-style-type: none;
    
}

.list-item {
    padding: 5px 10px;
    line-height: 45px;
}

.list-item a {
    font-size: 15px;
    text-decoration: none;
    color: #333333;
}








