.featured-albums-container {
    padding-top:107px;
    width: 100%;
    background-color: black;
    height: 600px;
}

// @media all and (max-width: 480px) {
//   .featured-albums-container { display: none; }
// }



.albums-show-container {
    height: 75%; 
    width: 75%;
    background-color: red;
    // height: 700px;
    // width:76%;
    // background-color: red;
     margin:auto;
    // position: relative;
    // display: flex;
    // flex-direction:row;
    // justify-content:space-around;

}

.main-featured-album-container {
    width: 60%; 
    height: 600px;
    background: blue;
    float: left;
    // width: 76%;
    // padding: 540px 0 0;
    // background-color: blue;
    // margin-left: -5%;
    // border-right:solid 2px black;
}

.sub-album1 {
    // margin-top: 32%;
    // height: 30.3%;
    background-color: green;
    // border:solid 2px black;
    float:right;
    width: 40%;
    height: 200px;
    margin-top: -15px;

    
}

.sub-album2 {
    background-color: purple;
    width: 40%;
   height: 200px;
    float:right;
    
    // border-bottom:solid 2px black;
}

.sub-album3 {
    background-color: orange;
    width: 40%;
    height: 200px;
    float:right;
}





